.root {
  --montserrat-font: "Montserrat", sans-serif;
  --poppins-font: "Poppins", sans-serif;
  --roboto-font: "Roboto", sans-serif;
  --orange-color: #fa4a0c;
  --DG-color: #252b42;
  --grey-color: #737373;
  --black-color: #000000;
  --white-color: #FFFFFF;
}

.web-pages {
  list-style: none;
  display: flex;
  gap: 94px;
}

.link {
  text-decoration: none;
  color: var(--DG-color);
gap: 94px;
    
}

.logo {
  width: 150px;
  height: 65px;
  margin-right: auto;
}

.page {
    display: flex;
    gap: 94px;
}



.meal-bg {
  max-width: 1440px;
  height: 619px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
  background-image: url(/images/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bagel-bg {
  max-width: 1440px;
  height: 516px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
  background-image: url(/images/footer-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
